<div id="<%= dom_id similar %>">
  <p>
    <strong>Word:</strong>
    <%= similar.word_id %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= similar.type %>
  </p>

  <p>
    <strong>Similar_word:</strong>
    <%= similar.similar.name %>
  </p>

</div>
