<div id="<%= dom_id reaction %>">
  <p>
    <strong>Word:</strong>
    <%= reaction.word_id %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= reaction.type %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= reaction.body %>
  </p>

</div>
