<div id="<%= dom_id useful %>">
  <p>
    <strong>Word:</strong>
    <%= useful.sample.word.name %>
  </p>
  <p>
    <strong>Sample:</strong>
    <%= useful.sample.body %>
  </p>
  <p>
    <strong>User: </strong>
    <%= useful.user.note_title %>
  </p>

</div>
